<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>

      <% if (user) { %>

        <a href="#">
            <%= user.name %> 
        </a>
        
      
          <a href="/users/logout">
            <button>Logout</button>
          </a>
       
      
        
        <% } else { %>
            
                <a href="/users/register">
                    <button>Register</button>
                  </a>
              
                  <a href="/users/login">
                    <button>Login</button>
                  </a>
                  <% } %>




                  
                   
             
         
    </header>
</body>
</html>