<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
        <div class="container flex justify-between-flex align-center">
            <a href="" class="logo">Expense Tracker</a>
            <nav>
                <ul class="flex align-center">
                    <li><a href="/">Home</a></li>
                    <% if (user) { %>
                        <li><a href="/users/logout">logout</a></li>
                    <% }else{ %>
                        <li><a href="/verifyEmail">signup</a></li>
                        <li><a href="/users/login">login</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
    <main>
      <section>
        <div class="container flex justify-between-flex align-center">
          <div class="font-0 flex-50">
            <img
              src="https://image.freepik.com/free-vector/man-checking-emails-smartphone-cartoon-people-illustration_241107-222.jpg"
              alt=""
              class="img"
            />
          </div>
          <div class="flex-30">
            <a href="/"></a>
            <a href="/"></a>
            <div>
              <h3>
                Check your email we have sent OTP for email verification and it
                will vaild only for one minute
              </h3>
              <form
                action="/verifyEmail/<%= id %>/verifyOtp/forgot"
                method="POST"
              >
                <% if (error) { %>
                <p><%= error %></p>
                <% } %>
                <input
                  type="email"
                  name="email"
                 
                  value="<%= data.email %>"
                  class="form-control diseable"
                />
                <input
                  type="string"
                  required
                  id="email"
                  name="otp"
                  class="form-control"
                  placeholder="enter your otp"
                />
            
                    <!-- <form action="/verifyEmail">
                        <button type="submit">resend otp</button>
                    </form> -->
                
                <button type="submit" class="form-control">veryfy Otp</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>